################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DockerConsoleApp/.vs/DockerConsoleApp/v16/.suo
/DockerConsoleApp/DockerConsoleApp/bin/Debug/netcoreapp3.1
/DockerConsoleApp/DockerConsoleApp/obj
/DockerWebApp/DockerWebApp/bin
/DockerWebApp/DockerWebApp/obj
/DockerWebApp/.vs/DockerWebApp
/DockerWebAPIWithDB/.vs
/DockerWebAPIWithDB/DockerWebAPIWithDB/bin
/DockerWebAPIWithDB/DockerWebAPIWithDB/obj
/DockerWebAPIWithDB/DockerWebAPIWithDB/DockerWebAPIWithDB.csproj.user
/DockerWebAPIWithDB/WebAPI.Security/bin/Debug/netcoreapp3.1
/DockerWebAPIWithDB/WebAPI.Security/obj
